#!/bin/bash
# Container Registry domain and optional port e.g. `git.site.com` or `gitea.site.com:3000`
export CONTAINER_REGISTRY_DOMAIN="<CONTAINER_REGISTRY_DOMAIN>"

# Docker image tag without domain e.g. `username/act`
export DOCKER_IMAGE_TAG="<DOCKER_IMAGE_TAG>"

# Docker image version e.g. `1.0.0`
export DOCKER_IMAGE_VERSION="<DOCKER_IMAGE_VERSION>"

# Container Registry username e.g. Gitea username
export CONTAINER_REGISTRY_USER="<CONTAINER_REGISTRY_USER>"

# Container Registry password e.g. `12345`
# In Gitea API you can create access token
# @see https://<CONTAINER_REGISTRY_DOMAIN>/user/settings/applications
# In GitHub you can create access token
# @see https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/managing-your-personal-access-tokens
# [SECRET]
export CONTAINER_REGISTRY_PASSWORD="<CONTAINER_REGISTRY_PASSWORD>"
